In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import os

In [6]:
os.chdir('data')

In [7]:
os.listdir()

['Datas  on population since 1990',
 'Environmental Sustainability',
 'hdro_statistical_data_tables_1_15_d1_d5.xlsx',
 'Human Development Index (HDI) 1990.csv']

In [9]:
file='Human Development Index (HDI) 1990.csv'
hdi=pd.read_csv(file, header = 1)

In [10]:
hdi.head()

,HDI Rank (2018),Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2014,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59
0,170,Afghanistan,0.298,NaN,0.304,NaN,0.312,NaN,0.308,NaN,...,0.488,NaN,0.490,NaN,0.491,NaN,0.493,NaN,0.496,NaN
1,69,Albania,0.644,NaN,0.625,NaN,0.608,NaN,0.611,NaN,...,0.787,NaN,0.788,NaN,0.788,NaN,0.789,NaN,0.791,NaN
2,82,Algeria,0.578,NaN,0.582,NaN,0.589,NaN,0.593,NaN,...,0.749,NaN,0.751,NaN,0.755,NaN,0.758,NaN,0.759,NaN
3,36,Andorra,..,NaN,..,NaN,..,NaN,..,NaN,...,0.853,NaN,0.850,NaN,0.854,NaN,0.852,NaN,0.857,NaN
4,149,Angola,..,NaN,..,NaN,..,NaN,..,NaN,...,0.557,NaN,0.565,NaN,0.570,NaN,0.576,NaN,0.574,NaN

Drop all the columns unnamed which come from the csv.

In [11]:
hdi.drop(['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13', 
              'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 19', 'Unnamed: 21', 'Unnamed: 23', 'Unnamed: 25',
              'Unnamed: 27', 'Unnamed: 29', 'Unnamed: 31', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 27',
               'Unnamed: 29', 'Unnamed: 31', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 37', 'Unnamed: 39',
               'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 45', 'Unnamed: 47', 'Unnamed: 49', 'Unnamed: 51',
               'Unnamed: 53', 'Unnamed: 55','Unnamed: 57', 'Unnamed: 59'], axis=1, inplace=True)

In [28]:
hdi

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
202,,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
203,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
204,,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
205,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [15]:
hdi.columns

Index(['HDI Rank (2018)', 'Country', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [17]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   HDI Rank (2018)  204 non-null    object
 1   Country          206 non-null    object
 2   1990             206 non-null    object
 3   1991             206 non-null    object
 4   1992             206 non-null    object
 5   1993             206 non-null    object
 6   1994             206 non-null    object
 7   1995             206 non-null    object
 8   1996             206 non-null    object
 9   1997             206 non-null    object
 10  1998             206 non-null    object
 11  1999             206 non-null    object
 12  2000             206 non-null    object
 13  2001             206 non-null    object
 14  2002             206 non-null    object
 15  2003             206 non-null    object
 16  2004             206 non-null    object
 17  2005             206 non-null    object
 18  2006             206 non-null    object
 19  2007             206 non-null    object
 20  2008             206 non-null    object
 21  2009             206 non-null    object
 22  2010             206 non-null    object
 23  2011             206 non-null    object
 24  2012             206 non-null    object
 25  2013             206 non-null    object
 26  2014             206 non-null    object
 27  2015             206 non-null    object
 28  2016             206 non-null    object
 29  2017             206 non-null    object
 30  2018             206 non-null    object
dtypes: object(31)
memory usage: 50.0+ KB

In [57]:
hdi.duplicated().value_counts()

False    206
dtype: int64

# Data Cleaning

## First analysis

- The values in the dataframe must be slightly changed.
1. The column HDI Rank can be dropped, to avoid problem during analysis.
2. Problem with the values, because it's objects and not float. 
3. The HDI rank must be in the last place: it's not relevant for the moment.
4. Some values doesn't exist, so it must be replaced by NaN.

To avoid problems with the DataFrame if there is a problem, a backup copy has to be done.

In [19]:
df = hdi.copy()

In [118]:
# Drop row HDI Rank
df.drop('HDI Rank (2018)', axis=1, inplace=True)

In [119]:
# Replace the .. which are aliases for no value and spaces 
df=df.replace('..', '').replace(' ', '')

In [120]:
# Select the columns to transform it into float excluding the Country column
cols = df.columns[df.dtypes.eq('object')]
cols=cols.drop('Country')

In [121]:
df[cols]=df[cols].apply(pd.to_numeric, downcast='float')
df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574

## Checking the NaN values

In [122]:
df.isna().sum()

Country     0
1990       47
1991       47
1992       48
1993       47
1994       47
1995       43
1996       43
1997       44
1998       43
1999       40
2000       17
2001       17
2002       16
2003       14
2004       12
2005        5
2006        5
2007        5
2008        5
2009        5
2010        3
2011        3
2012        3
2013        3
2014        3
2015        3
2016        3
2017        2
2018        2
dtype: int64

If the columns seems to be okay, let see if there is the same for the rows.

In [123]:
for i in range(len(df.index)) :
    print("Nan in row ", i , " : " ,  df.iloc[i].isna().sum()/df.shape[1])

Nan in row  0  :  0.0
Nan in row  1  :  0.0
Nan in row  2  :  0.0
Nan in row  3  :  0.3333333333333333
Nan in row  4  :  0.3
Nan in row  5  :  0.5
Nan in row  6  :  0.0
Nan in row  7  :  0.0
Nan in row  8  :  0.0
Nan in row  9  :  0.0
Nan in row  10  :  0.16666666666666666
Nan in row  11  :  0.3333333333333333
Nan in row  12  :  0.0
Nan in row  13  :  0.0
Nan in row  14  :  0.0
Nan in row  15  :  0.16666666666666666
Nan in row  16  :  0.0
Nan in row  17  :  0.0
Nan in row  18  :  0.0
Nan in row  19  :  0.5
Nan in row  20  :  0.0
Nan in row  21  :  0.3333333333333333
Nan in row  22  :  0.0
Nan in row  23  :  0.0
Nan in row  24  :  0.0
Nan in row  25  :  0.0
Nan in row  26  :  0.3333333333333333
Nan in row  27  :  0.0
Nan in row  28  :  0.3333333333333333
Nan in row  29  :  0.0
Nan in row  30  :  0.0
Nan in row  31  :  0.0
Nan in row  32  :  0.0
Nan in row  33  :  0.3333333333333333
Nan in row  34  :  0.0
Nan in row  35  :  0.0
Nan in row  36  :  0.0
Nan in row  37  :  0.3333333333333333
Nan in row  38  :  0.0
Nan in row  39  :  0.0
Nan in row  40  :  0.0
Nan in row  41  :  0.0
Nan in row  42  :  0.0
Nan in row  43  :  0.0
Nan in row  44  :  0.0
Nan in row  45  :  0.0
Nan in row  46  :  0.0
Nan in row  47  :  0.16666666666666666
Nan in row  48  :  0.3333333333333333
Nan in row  49  :  0.0
Nan in row  50  :  0.0
Nan in row  51  :  0.0
Nan in row  52  :  0.0
Nan in row  53  :  0.3333333333333333
Nan in row  54  :  0.5
Nan in row  55  :  0.0
Nan in row  56  :  0.0
Nan in row  57  :  0.3333333333333333
Nan in row  58  :  0.0
Nan in row  59  :  0.0
Nan in row  60  :  0.0
Nan in row  61  :  0.0
Nan in row  62  :  0.0
Nan in row  63  :  0.3333333333333333
Nan in row  64  :  0.0
Nan in row  65  :  0.0
Nan in row  66  :  0.0
Nan in row  67  :  0.4
Nan in row  68  :  0.0
Nan in row  69  :  0.0
Nan in row  70  :  0.5
Nan in row  71  :  0.0
Nan in row  72  :  0.0
Nan in row  73  :  0.0
Nan in row  74  :  0.0
Nan in row  75  :  0.0
Nan in row  76  :  0.0
Nan in row  77  :  0.0
Nan in row  78  :  0.0
Nan in row  79  :  0.0
Nan in row  80  :  0.0
Nan in row  81  :  0.0
Nan in row  82  :  0.0
Nan in row  83  :  0.0
Nan in row  84  :  0.0
Nan in row  85  :  0.0
Nan in row  86  :  0.0
Nan in row  87  :  0.0
Nan in row  88  :  0.0
Nan in row  89  :  0.3333333333333333
Nan in row  90  :  0.0
Nan in row  91  :  0.0
Nan in row  92  :  0.0
Nan in row  93  :  0.0
Nan in row  94  :  0.0
Nan in row  95  :  0.5
Nan in row  96  :  0.0
Nan in row  97  :  0.3
Nan in row  98  :  0.0
Nan in row  99  :  0.3333333333333333
Nan in row  100  :  0.0
Nan in row  101  :  0.0
Nan in row  102  :  0.3333333333333333
Nan in row  103  :  0.0
Nan in row  104  :  0.0
Nan in row  105  :  0.16666666666666666
Nan in row  106  :  0.0
Nan in row  107  :  0.0
Nan in row  108  :  0.9
Nan in row  109  :  0.0
Nan in row  110  :  0.0
Nan in row  111  :  0.0
Nan in row  112  :  0.3333333333333333
Nan in row  113  :  0.0
Nan in row  114  :  0.0
Nan in row  115  :  0.43333333333333335
Nan in row  116  :  0.0
Nan in row  117  :  0.0
Nan in row  118  :  0.0
Nan in row  119  :  0.0
Nan in row  120  :  0.0
Nan in row  121  :  0.0
Nan in row  122  :  0.0
Nan in row  123  :  0.0
Nan in row  124  :  0.0
Nan in row  125  :  0.43333333333333335
Nan in row  126  :  0.3333333333333333
Nan in row  127  :  0.0
Nan in row  128  :  0.3333333333333333
Nan in row  129  :  0.0
Nan in row  130  :  0.3333333333333333
Nan in row  131  :  0.4666666666666667
Nan in row  132  :  0.0
Nan in row  133  :  0.0
Nan in row  134  :  0.0
Nan in row  135  :  0.0
Nan in row  136  :  0.0
Nan in row  137  :  0.0
Nan in row  138  :  0.0
Nan in row  139  :  0.0
Nan in row  140  :  0.0
Nan in row  141  :  0.0
Nan in row  142  :  0.0
Nan in row  143  :  0.5
Nan in row  144  :  0.3333333333333333
Nan in row  145  :  0.3333333333333333
Nan in row  146  :  0.0
Nan in row  147  :  0.0
Nan in row  148  :  0.0
Nan in row  149  :  0.0
Nan in row  150  :  0.0
Nan in row  151  :  0.3333333333333333
Nan in row  152  :  0.0
Nan in row  153  :  0.0
Nan in row  154  :  0.0
Nan in row  155  :  0.0
Nan in row  156  :  0.3
Nan in row  157  :  0.0
Nan in row  158  :  0.6666666666666666
Nan in row  159  :  0.0
Nan in row  160  :  0.0
Nan in row  161  :  0.0
Nan in row  162  :  0.4666666666666667
Nan in row  163  :  0.0
Nan in row  164  :  0.0
Nan in row  165  :  0.0
Nan in row  166  :  0.0
Nan in row  167  :  0.0
Nan in row  168  :  0.0
Nan in row  169  :  0.3333333333333333
Nan in row  170  :  0.0
Nan in row  171  :  0.0
Nan in row  172  :  0.0
Nan in row  173  :  0.0
Nan in row  174  :  0.0
Nan in row  175  :  0.6666666666666666
Nan in row  176  :  0.0
Nan in row  177  :  0.0
Nan in row  178  :  0.0
Nan in row  179  :  0.0
Nan in row  180  :  0.06666666666666667
Nan in row  181  :  0.0
Nan in row  182  :  0.3333333333333333
Nan in row  183  :  0.5
Nan in row  184  :  0.0
Nan in row  185  :  0.0
Nan in row  186  :  0.0
Nan in row  187  :  0.0
Nan in row  188  :  0.0
Nan in row  189  :  0.9666666666666667
Nan in row  190  :  0.0
Nan in row  191  :  0.0
Nan in row  192  :  0.0
Nan in row  193  :  0.0
Nan in row  194  :  0.0
Nan in row  195  :  0.9666666666666667
Nan in row  196  :  0.0
Nan in row  197  :  0.0
Nan in row  198  :  0.0
Nan in row  199  :  0.0
Nan in row  200  :  0.0
Nan in row  201  :  0.0
Nan in row  202  :  0.0
Nan in row  203  :  0.0
Nan in row  204  :  0.0
Nan in row  205  :  0.0

It seems to be okay for most of the rows, but 2 have more that 90% of missing values : rows `189` and `195`.
Rows `108`, `158` and `175` have a missing values rate over 60 %. Let's have a look to those rows.

In [124]:
# What is in the bottom of the DataFrame?
df.tail(20)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
186,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,0.430,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
187,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,0.419,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
188,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,0.461,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563
189,Human Development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Very high human development,0.779,0.782,0.780,0.790,0.795,0.799,0.804,0.804,0.813,...,0.861,0.866,0.871,0.874,0.878,0.882,0.886,0.888,0.890,0.892
191,High human development,0.568,0.573,0.578,0.584,0.588,0.596,0.604,0.610,0.616,...,0.698,0.706,0.713,0.720,0.727,0.733,0.738,0.743,0.746,0.750
192,Medium human development,0.437,0.439,0.445,0.451,0.457,0.464,0.471,0.476,0.484,...,0.567,0.575,0.584,0.593,0.599,0.608,0.616,0.625,0.630,0.634
193,Low human development,0.352,0.353,0.355,0.356,0.356,0.361,0.368,0.373,0.379,...,0.469,0.473,0.479,0.484,0.490,0.496,0.499,0.501,0.505,0.507
194,Developing Countries,0.516,0.520,0.525,0.530,0.534,0.541,0.547,0.553,0.559,...,0.635,0.642,0.650,0.657,0.663,0.669,0.674,0.680,0.683,0.686
195,Regions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Arab States,0.556,0.559,0.565,0.571,0.576,0.581,0.587,0.594,0.599,...,0.671,0.676,0.681,0.687,0.688,0.691,0.695,0.699,0.701,0.703
197,East Asia and the Pacific,0.519,0.525,0.534,0.542,0.549,0.559,0.568,0.576,0.581,...,0.681,0.691,0.700,0.707,0.714,0.721,0.727,0.733,0.737,0.741
198,Europe and Central Asia,0.652,0.650,0.646,0.643,0.638,0.642,0.646,0.651,0.657,...,0.726,0.735,0.744,0.750,0.759,0.766,0.770,0.772,0.776,0.779
199,Latin America and the Caribbean,0.628,0.634,0.639,0.644,0.650,0.656,0.662,0.669,0.675,...,0.727,0.731,0.737,0.740,0.748,0.752,0.754,0.756,0.758,0.759
200,South Asia,0.441,0.447,0.454,0.460,0.466,0.473,0.480,0.486,0.492,...,0.575,0.585,0.593,0.601,0.607,0.617,0.624,0.634,0.639,0.642
201,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,0.422,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
202,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,0.388,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
203,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,0.632,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
204,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,0.826,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
205,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,0.631,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

From row `189` to `205`, the rows must be in anothe DataFrame, because it's not interesting for us to have it here (it will not fit with analysis). But it will be useful to have comparison data.

In [125]:
df.iloc[108]

Country    Marshall Islands
1990                    NaN
1991                    NaN
1992                    NaN
1993                    NaN
1994                    NaN
1995                    NaN
1996                    NaN
1997                    NaN
1998                    NaN
1999                    NaN
2000                    NaN
2001                    NaN
2002                    NaN
2003                    NaN
2004                    NaN
2005                    NaN
2006                    NaN
2007                    NaN
2008                    NaN
2009                    NaN
2010                    NaN
2011                    NaN
2012                    NaN
2013                    NaN
2014                    NaN
2015                    NaN
2016                    NaN
2017                  0.696
2018                  0.698
Name: 108, dtype: object

In [126]:
df.iloc[158]

Country    South Sudan
1990               NaN
1991               NaN
1992               NaN
1993               NaN
1994               NaN
1995               NaN
1996               NaN
1997               NaN
1998               NaN
1999               NaN
2000               NaN
2001               NaN
2002               NaN
2003               NaN
2004               NaN
2005               NaN
2006               NaN
2007               NaN
2008               NaN
2009               NaN
2010             0.425
2011             0.443
2012             0.438
2013             0.439
2014             0.435
2015             0.428
2016             0.418
2017             0.414
2018             0.413
Name: 158, dtype: object

In [127]:
df.iloc[175]

Country    Turkmenistan
1990                NaN
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995                NaN
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000                NaN
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005                NaN
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010              0.673
2011               0.68
2012              0.686
2013              0.691
2014              0.696
2015              0.701
2016              0.706
2017              0.708
2018               0.71
Name: 175, dtype: object

There are missing values for Marshall Islands, South Sudan (created in 2010) and Turkmenistan. But it's still interesting to keep those values.

## Divide the DataFrame in 2

In [128]:
df_1=df.iloc[:189]
df_2=df.iloc[189:]

In [129]:
df_1

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Venezuela (Bolivarian Republic of),0.638,0.648,0.654,0.656,0.657,0.660,0.662,0.666,0.668,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
185,Viet Nam,0.475,0.484,0.496,0.506,0.517,0.529,0.540,0.539,0.559,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
186,Yemen,0.392,0.396,0.395,0.398,0.398,0.393,0.408,0.418,0.430,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
187,Zambia,0.424,0.421,0.420,0.422,0.418,0.419,0.419,0.420,0.419,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
188,Zimbabwe,0.498,0.500,0.485,0.480,0.478,0.472,0.471,0.466,0.461,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563

In [132]:
# Save it into a csv with no index
df.to_csv("HDI_no_index.csv", index=False)

## Move the HDI Rank to the end

In [133]:
df_2

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
189,Human Development,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Very high human development,0.779,0.782,0.780,0.790,0.795,0.799,0.804,0.804,0.813,...,0.861,0.866,0.871,0.874,0.878,0.882,0.886,0.888,0.890,0.892
191,High human development,0.568,0.573,0.578,0.584,0.588,0.596,0.604,0.610,0.616,...,0.698,0.706,0.713,0.720,0.727,0.733,0.738,0.743,0.746,0.750
192,Medium human development,0.437,0.439,0.445,0.451,0.457,0.464,0.471,0.476,0.484,...,0.567,0.575,0.584,0.593,0.599,0.608,0.616,0.625,0.630,0.634
193,Low human development,0.352,0.353,0.355,0.356,0.356,0.361,0.368,0.373,0.379,...,0.469,0.473,0.479,0.484,0.490,0.496,0.499,0.501,0.505,0.507
194,Developing Countries,0.516,0.520,0.525,0.530,0.534,0.541,0.547,0.553,0.559,...,0.635,0.642,0.650,0.657,0.663,0.669,0.674,0.680,0.683,0.686
195,Regions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Arab States,0.556,0.559,0.565,0.571,0.576,0.581,0.587,0.594,0.599,...,0.671,0.676,0.681,0.687,0.688,0.691,0.695,0.699,0.701,0.703
197,East Asia and the Pacific,0.519,0.525,0.534,0.542,0.549,0.559,0.568,0.576,0.581,...,0.681,0.691,0.700,0.707,0.714,0.721,0.727,0.733,0.737,0.741
198,Europe and Central Asia,0.652,0.650,0.646,0.643,0.638,0.642,0.646,0.651,0.657,...,0.726,0.735,0.744,0.750,0.759,0.766,0.770,0.772,0.776,0.779
199,Latin America and the Caribbean,0.628,0.634,0.639,0.644,0.650,0.656,0.662,0.669,0.675,...,0.727,0.731,0.737,0.740,0.748,0.752,0.754,0.756,0.758,0.759
200,South Asia,0.441,0.447,0.454,0.460,0.466,0.473,0.480,0.486,0.492,...,0.575,0.585,0.593,0.601,0.607,0.617,0.624,0.634,0.639,0.642
201,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,0.422,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
202,Least Developed Countries,0.350,0.353,0.354,0.358,0.358,0.366,0.374,0.381,0.388,...,0.477,0.485,0.493,0.499,0.504,0.510,0.516,0.520,0.525,0.528
203,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,0.632,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
204,Organization for Economic Co-operation and Dev...,0.785,0.790,0.788,0.800,0.807,0.812,0.817,0.817,0.826,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
205,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,0.631,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [134]:
# Save it into a csv with no index
df.to_csv("HDI-global_no_index.csv", index=False)